<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">

    <title><%= title %> </title>
</head>

<body class="login">

    <%- include('include/header.ejs',{loggedIn: loggedIn, user: user }) %>

    <% if (loginFailed) { %>
    <h1>Login failed</h1>
    <% } else { %>
    <h1>Login</h1>
    <% } %>

    <form action="/login" method="post">
        <div>
            <label for="emailAddress">Email address </label>
            <input type="text" name="emailAddress" id="emailAddress">
        </div>
        <div>
            <label for="password">Password </label>
            <input type="password" name="password" id="password">
        </div>
        <button type="submit">LOGIN</button>
    </form>

</body>

</html>