* {
    margin: 0;
    padding: 0;
}
body {
    background: #333;
    color: #fff;

    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/****************************************************************************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}
header ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
header ul li {
    padding-left: 2rem;
}
header a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
}
header a:visited {
    color: #fff;
}
header li:first-of-type {
    justify-self: flex-start;
}

/****************************************************************************/
.login,
.register,
.confirmation,
.confirmed {
    text-align: center;
}
form {
    width: 40rem;
    margin: 0 auto;
    border: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 1rem;
    margin-top: 1rem;
}
form div {
    padding: 0 0 1rem;
}
form label {
    padding: 0.5rem;
    display: inline-block;
    width: 10rem;
    text-align: right;
    font-size: 1.5rem;
}
form input {
    width: 20rem;
    padding: 0.5rem;
    font-size: 1.2rem;
}
form p {
    /* width: 20rem; */
    padding: 0.5rem;
    font-size: 1.2rem;
}
form button {
    align-self: center;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    margin: 1rem 0 0;
}

/****************************************************************************/
.secret main {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.secret h1 {
    padding-bottom: 1rem;
}
.secret img {
    display: inline-block;
    width: 50vw;
}

/****************************************************************************/
